body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
nav{
    background-color: blue;
    margin: 0;
    height: 55px;
}

header{
    display: flex;
    background-color: rgb(77, 158, 220);
    height: 101px;
    justify-content: center;
    align-items: center;
}

article{
    display: flex;
    background-color: grey;
    height: 101px;
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgb(77, 158, 220);
    height: 101px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
section:first-of-type{ 
    background-color: rgb(238, 170, 44);
    height: 101px;
}
section:nth-of-type(2){
    background-color: rgb(210, 125, 139);
    height: 101px;
}
section:nth-of-type(3){
    background-color: rgb(241, 73, 241);
    height: 101px;
}
@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }
    body>main>form {
        width: 50%;
        
    }
    body>main>section {
        width: 50%;
    } 
}

@media only screen and (min-width: 1000px) {
    article{
        order: 5;
    }
    body>main>form { 
        width: 100%;
        order: 4;
    }
    
    body>main>section {
        width: auto;
        flex-grow: 1;
    }
}